* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(0, 0, 33); */
    background-color: azure;
    color: rgb(47, 33, 33);
    font-family: 'Poppins', sans-serif;
}

hr {
    border-top: 5px dotted rgb(5, 5, 91);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5, 5, 91);
}

nav .left {
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.02rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    margin-bottom: 150px;
    align-items: center;
}

.firstSection>div {
    width: 30%;

}

.leftSection {
    font-size: 2.1rem;
}

.leftSection div .btn {
    padding: 20px 15px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}

.leftSection div .btn a {
    text-decoration: none;
    color: white;
}

.leftSection div .btn:hover {
    font-weight: bold;
    background-color: rgb(156, 92, 216);
    ;
}

.leftSection .purple {
    color: rgb(156, 92, 216);
}

.rightSection img {
    width: 80%;
}

#element {
    color: rgb(156, 92, 216);

}

.aboutSection {
    background-color: azure;
    color: black;
}

.section-title {
    text-align: center;
    font-size: xx-large;
    color: rgb(5, 5, 91);
    margin: 20px 0;
    text-decoration: underline rgb(5, 5, 91);
}

/* About Section */
.box {
    display: flex;
    justify-content: center;
    font-size: large;
}

.box .rightSection {
    margin: 100px 50px;
}

.box .rightSection h2 {
    margin: 10px 0;
}

.aboutSection>h2 {
    text-align: center;
}

.box .leftSection {
    margin: 80px 50px;
}

div.leftSection>img {
    width: 300px;
}

/* Skill Section */

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 10px;
    box-shadow: 0px 4px 25px rgba(4, 14, 20, 0.767);
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills__img {
    border-radius: .5rem;
    margin-top: 60px;
}

.skills__container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.skills__container .leftSection {
    margin-left: 50px;
}

/* Work Section */

.work__container {
    row-gap: 2rem;
}

.work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
}

.work__img img {
    transition: 1s;
    border-radius: .5rem;
    width: 30%;
    margin: 5px 15px;
}

.work__img img:hover {
    transform: scale(1.1);
}



/* ===== FOOTER =====*/
.footer {
    background-color: rgb(5, 5, 91);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}

/* Contact css   */
form {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px black;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}